{% extends "mail/layout.html" %}

{% block body %}

    <h3>Register Page</h3>

    <style>
        h3 {
            margin: 15px 0;
        }
    </style>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address . . .">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password . . .">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password . . .">
        </div>
        <input class="btn btn-success" type="submit" value="Register">
    </form>

    <hr>

    <span>Already have an account?</span> <a href="{% url 'login' %}">Login here.</a>

    <hr>

{% endblock %}